
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 4rem;
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo{
    cursor: pointer;
    position: fixed;
    left: 1.3em;
    width: 9rem;
}

.avatar {
    position: fixed;
    right: 1.3em;
    width: 3rem;
}

.search-box{
    float: right;
    margin-left: auto;
    margin-right: 120px;
    padding: 0px;
}

.search-button{
    padding: 5px;
    cursor: pointer;
    border: 2px solid orangered;
    border-radius: 10px;
    
}

.doSearch-button{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffdd95;
    border: 2px solid rgb(240, 238, 238);
    border-radius: 20px;
}

.doSearch-button:hover{
    color: rgb(255, 255, 255);
    background-color: #002e1a;
    border: 2px solid rgb(255, 255, 255);
}

.search-button:hover{
    color: rgb(255, 255, 255);
    background-color: #009756;
    border: 2px solid rgb(255, 255, 255);
}

.search{
    /* height: 23px; */
    margin: 3px;
    padding: 8px;
    border-radius: 29px;
}

.avatar-small{
    position: fixed;
    right: 0.6em;
    width: 1rem;
}

.small-profile{
    border: 1px solid white;
    border-radius: 3px;
    /* position: relative; */
    /* max-width: 2em; */
    /* max-height: ; */
}


