.row {
    /* margin-left: 1.6rem; */
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.posters {
    display: flex;
    /* padding: 0.8rem; */
    overflow-x: auto;
    overflow-y: hidden;
    /* display: inline-block; */
    cursor: pointer;
}

.posters::-webkit-scrollbar {
    display: none;
}

.dark-fade-bottom {
    bottom: 0;
    position: absolute;
    height: 8rem;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),
            rgba(17, 17, 17, 0.9));
}

.dark-fade-top {
    top: 0;
    position: absolute;
    height: 2rem;
    width: 100%;
    background-image: linear-gradient(rgba(17, 17, 17, 0.9),
            rgba(255, 255, 255, 0));
}

/* ------------animate----------- */
.poster-card {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 600ms;
    z-index: 65;
    margin: 0.3rem;
    cursor: pointer;
}

.posters-wrapper:focus-within .poster-card,
.posters-wrapper:hover .poster-card {
    transform: translateX(-25%);
    z-index: 70;
}

.poster-card:focus~.poster-card,
.poster-card:hover~.poster-card {
    transform: translateX(25%);
}

.posters-wrapper .poster-card:focus,
.posters-wrapper .poster-card:hover {
    transform: scale(1.5);
}

/* ------------animate CLOSE----------- */

.pagebuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mt-3 {
    margin-top: 4rem;
}

.poster {
    max-height: 450px;
    margin-right: 0.8rem;
    cursor: pointer;
}

.poster-small {
    max-height: 250px;
    margin-right: 0.8rem;
    cursor: pointer;
}

.poster:hover {
    transform: scale(1.3);
}

.poster-small:hover {
    transform: scale(1.3);
}

.p-custom {
    padding: 1rem;
    margin: 1rem;
}

.pd-1 {
    padding: 1rem;
}