* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* color: aliceblue; */
}

.white {
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
    /* background-color: rgb(180, 19, 19); */
    /* scroll-behavior: smooth; */
}

body::-webkit-scrollbar {
    display: none;
}

.font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

.customCl {
    /* background-color: ; */
    color: azure;
}

.background {
    position: relative;
}

.singlePoster {
    max-height: 450px;
    border-radius: 20px;
    margin-left: 10px;
    flex: 1 1 0px;
    transition: transform 600ms;
    z-index: 65;
}

.singlePoster:hover {
    margin-left: 4rem;
    transform: scale(1.3);
    transition: transform 600ms;
    /* scale: 1.5; */
}

.shadow {
    text-shadow: -6px 5px 7px black;
}

.overlay {
    position: absolute;
    top: -42px;
    right: -10px;
}

.overlayBanner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.overlayProfile {
    position: absolute;
    top: 0;
    right: 0;
}

.roboImg {
    max-width: 130px;
    max-height: 130px;
    margin: 10px;
    /* padding: 5px; */
}

.roboImg:hover {
    scale: 1.2;
    cursor: pointer;
    transition: transform 600ms;
}

.overlayPoster {
    position: absolute;
    top: 0;
    right: 10px;
}

.dialogBox {
    /* background-color:  #fff9f5; */
    background: radial-gradient(rgb(255, 255, 191), rgb(194, 194, 194));
}

.bord {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 102vh;
    background-position: center;
    /* height: 38rem; */
    position: relative;
    /* color: white; */

}

.pad {
    padding-left: 0.6rem;
}

.pointer {
    cursor: pointer;
}

.hrow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* .bg-Dialog {
    
} */

.voga {
    font-family: 'voga';
    font-weight: 300;
    font-size: xx-large;
}

.vogaSmall {
    font-family: 'voga';
    font-weight: 300;
    font-size: medium;
}

.gloriusSmall {
    font-family: 'glorious';
    font-weight: 300;
    font-size: medium;
}

.glorius {
    font-family: 'glorious';
    font-weight: 300;
    font-size: xx-large;
}

@font-face {
    font-family: 'glorious';
    src: url('/public/fonts/GLORIOUS.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'voga';
    src: url('/public/fonts/Wallington-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* NotoSans-Regular.ttf  */

@font-face {
    font-family: 'notosans';
    src: url('/public/fonts/NotoSans-Regular.ttf') format('truetype');
}

.notosans {
    font-family: 'notosans', 'serif' !important;
}

.errorText {
    color: red;
    font-weight: 400;
}