.banner {
    /* background-image: url("https://wallpaperaccess.com/full/2703652.png"); */
    /* background-size: auto; */
    background-size: cover;
    background-position: center;
    height: 38rem;
    position: relative;
    color: white;
}

.bannerx-data {
    border-radius: 12px;
    margin-top: 0.9rem;
    padding-bottom: 1.3rem;
    /* padding: 0.5rem; */
    background-color: rgba(0, 0, 0, 0.7);
    /* overflow: hidden; */

}

.content {
    /* padding-top: 8.8rem; */
    /* height: 12rem; */
    position: absolute;
    bottom: 0;
    /* top: 0; */
    padding-left: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
    /* max-width: 15rem; */
    overflow-y: hidden;
    overflow-x: hidden;
    word-wrap: normal;
}

.button {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin-right: 1rem;
}

.button:hover {
    color: black;
    background-color: #e6e6e6;
}

.description {
    /* width: 16rem; */
    line-height: 1.3;
    padding-top: 1rem;
    /* padding: 0.1rem; */
    font-size: 1rem;
    /* max-height: 6.5rem; */
    max-width: 28rem;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow-wrap: break-word;
    /* word-wrap: break-word; */
    text-shadow: -3px -4px 13px black;
}

.fade_bottom {
    height: 38rem;
    background-image: linear-gradient(180deg, transparent, rgba(27, 27, 27, 0.61), #111);

}

.pd-1 {
    padding: 1rem;
}

.yt-banner-player {
    display: flex;
    float: right;
    margin-right: -5px;
    margin-top: 3.2rem;
}